# Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [1]:
# Dictionary -> Series
dict_data = {'a':1,'b':2,'c':3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [3]:
# Series로 변환
import pandas as pd

sr = pd.Series(dict_data)
sr

a    1
b    2
c    3
dtype: int64

In [4]:
sr['a'] # 'a'를 index라고 생각하면 됨

1

In [5]:
# List -> Series
list_data = ['2021-12-31',3.14,'abc',100,True]
list_data

['2021-12-31', 3.14, 'abc', 100, True]

In [6]:
sr = pd.Series(list_data)
sr

0    2021-12-31
1          3.14
2           abc
3           100
4          True
dtype: object

In [7]:
sr[0]

'2021-12-31'

In [10]:
# index와 value를 따로 저장
index = sr.index
value = sr.values
print(list(index))
print(list(value))

[0, 1, 2, 3, 4]
['2021-12-31', 3.14, 'abc', 100, True]

In [11]:
# Tuple -> Series

tuple_data = ('유비','2022-12-31','남자',False)
tuple_data

('유비', '2022-12-31', '남자', False)

In [12]:
sr = pd.Series(tuple_data)
sr

0            유비
1    2022-12-31
2            남자
3         False
dtype: object

In [14]:
# index 이름 변경하기

sr = pd.Series(tuple_data,index=['이름','생년월일','성별','학생여부'])
sr

이름              유비
생년월일    2022-12-31
성별              남자
학생여부         False
dtype: object

In [16]:
# Series에서 Data 선택하기

print(sr['이름'])
print(sr[0])

유비
유비

In [19]:
# 두 개의 index 선택

print(sr[['생년월일','성별']])
print(sr[[1,2]]) # Series는 1차원으로 바깥의 대괄호 입장에서는 ,가 안보임 (,발생방지)

생년월일    2022-12-31
성별              남자
dtype: object
생년월일    2022-12-31
성별              남자
dtype: object

In [21]:
# 범위로 index 선택 : Slicing
print(sr[0:4])
print(sr['이름':'성별'])

이름              유비
생년월일    2022-12-31
성별              남자
학생여부         False
dtype: object
이름              유비
생년월일    2022-12-31
성별              남자
dtype: object

In [22]:
#### Series의 연산

student = pd.Series({'국어':100,'영어':80,'수학':90}) 
student

국어    100
영어     80
수학     90
dtype: int64

In [23]:
# 과목의 점수를 200으로 나누자
student / 200

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [24]:
student1 = pd.Series({'수학':80,'국어':90,'영어':80}) 
student1

수학    80
국어    90
영어    80
dtype: int64

In [25]:
# 덧셈

addition = student + student1
addition # dictionary이므로 순서가 달라도 key를 이용해 연산을 진행

국어    190
수학    170
영어    160
dtype: int64

In [26]:
# 뺄셈

subtraction = student - student1
subtraction

국어    10
수학    10
영어     0
dtype: int64

In [27]:
# 곱셈

multiplication = student * student1
multiplication

국어    9000
수학    7200
영어    6400
dtype: int64

In [28]:
# 나눗셈 
division = student / student1
division

국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [32]:
scoreCalc = pd.DataFrame([addition,subtraction,multiplication,division],\
    index=['덧셈','뺄셈','곱셈','나눗셈']) 
scoreCalc

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

# Nan값이 있는 연산

In [68]:
import numpy as np

student1 = pd.Series({'국어':np.nan,'수학':80,'영어':90}) 
student2 = pd.Series({'수학':80,'국어':90})

In [69]:
# 덧셈 

addition = student1 + student2
addition

국어      NaN
수학    160.0
영어      NaN
dtype: float64

In [70]:
addition = student1.add(student2)

In [71]:
subtraction = student1.sub(student2)
subtraction

국어    NaN
수학    0.0
영어    NaN
dtype: float64

In [72]:
# 곱셈
multiplication = student1 * student2
multiplication

국어       NaN
수학    6400.0
영어       NaN
dtype: float64

In [73]:
division = student1 / student1
division

국어    NaN
수학    1.0
영어    1.0
dtype: float64

In [74]:
division = student1.div(student2)
division

국어    NaN
수학    1.0
영어    NaN
dtype: float64

In [75]:
# 사칙연산 결과를 데이터 프레임으로 만들기

result = pd.DataFrame([addition,subtraction,multiplication,division],\
    index=['덧셈','뺄셈','곱셈','나눗셈'])
result

     국어      수학  영어
덧셈  NaN   160.0 NaN
뺄셈  NaN     0.0 NaN
곱셈  NaN  6400.0 NaN
나눗셈 NaN     1.0 NaN

In [76]:
addition =  student1.add(student2,fill_value=0)
subtraction = student1.sub(student2,fill_value=0)
multiplication = student1.mul(student2,fill_value=0)
division = student1.div(student2,fill_value=0)

result = pd.DataFrame([addition,subtraction,multiplication,division],\
    index=['덧셈','뺄셈','곱셈','나눗셈'])
result

       국어      수학    영어
덧셈   90.0   160.0  90.0
뺄셈  -90.0     0.0  90.0
곱셈    0.0  6400.0   0.0
나눗셈   0.0     1.0   inf