In [1]:
# Library

from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

In [2]:
url = "https://movie.daum.net/ranking/boxoffice/weekly"
page= urlopen(url)
soup = BeautifulSoup(page,'html.parser')

In [23]:
li_lists = soup.select("#mainContent > div > div.box_boxoffice > ol > li > div > div.thumb_cont > strong > a")

In [16]:
# li_lists = soup.select(".link_txt")
# li_lists
# 간단한 버전! => 영화제목에 리스트에 저장할 경우에는 range 조정해야함

[<a class="link_txt" href="/moviedb/main?movieId=114329">탑건: 매버릭</a>,
 <a class="link_txt" href="/moviedb/main?movieId=146758">마녀(魔女) Part2. The Other One</a>,
 <a class="link_txt" href="/moviedb/main?movieId=122749">범죄도시 2</a>,
 <a class="link_txt" href="/moviedb/main?movieId=144096">브로커</a>,
 <a class="link_txt" href="/moviedb/main?movieId=155087">버즈 라이트이어</a>,
 <a class="link_txt" href="/moviedb/main?movieId=139235">쥬라기 월드: 도미니언</a>,
 <a class="link_txt" href="/moviedb/main?movieId=160414">극장판 윌벤져스 : 수상한 캠핑 대소동</a>,
 <a class="link_txt" href="/moviedb/main?movieId=47111">극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미</a>,
 <a class="link_txt" href="/moviedb/main?movieId=144854">헤어질 결심</a>,
 <a class="link_txt" href="/moviedb/main?movieId=152991">룸 쉐어링</a>,
 <a class="link_txt" href="/moviedb/main?movieId=109937">니 부모 얼굴이 보고 싶다</a>,
 <a class="link_txt" href="/moviedb/main?movieId=156501">로스트 시티</a>,
 <a class="link_txt" href="/moviedb/main?movieId=153828">모어</a>,
 <a class="link_txt" href="/moviedb/main?movieId=145325">니얼굴</a>,
 <a class="link_txt" href="/moviedb/main?movieId=151102">애프터 양</a>,
 <a class="link_txt" data-tiara-layer="home" href="/main">홈</a>,
 <a class="link_txt" data-tiara-layer="ranking" href="/ranking/reservation">랭킹</a>,
 <a class="link_txt" data-tiara-layer="premovie" href="/premovie/theater">상영예정작</a>,
 <a class="link_txt" data-tiara-layer="contents" href="/contents/news">콘텐츠</a>]

In [24]:
count = 0
titleLists = [] # 영화 제목 Lists
countLists = [] # 순위 Lists

for list in li_lists:
    count += 1
    print(count, list.string.strip())
    countLists.append(count)
    titleLists.append(list.string.strip())

1 탑건: 매버릭
2 마녀(魔女) Part2. The Other One
3 범죄도시 2
4 브로커
5 버즈 라이트이어
6 쥬라기 월드: 도미니언
7 극장판 윌벤져스 : 수상한 캠핑 대소동
8 극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
9 헤어질 결심
10 룸 쉐어링
11 니 부모 얼굴이 보고 싶다
12 로스트 시티
13 모어
14 니얼굴
15 애프터 양

In [25]:
# Lists 확인
print(countLists)
print(titleLists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
['탑건: 매버릭', '마녀(魔女) Part2. The Other One', '범죄도시 2', '브로커', '버즈 라이트이어', '쥬라기 월드: 도미니언', '극장판 윌벤져스 : 수상한 캠핑 대소동', '극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미', '헤어질 결심', '룸 쉐어링', '니 부모 얼굴이 보고 싶다', '로스트 시티', '모어', '니얼굴', '애프터 양']

In [26]:
# countLists만으로 DataFrame 생성
df = pd.DataFrame(data=countLists,columns=['순위'])
df

    순위
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15

In [27]:
# 기존 DataFrame에 컬럼과 Lists 추가
df['영화제목'] = pd.Series(titleLists) # Series = vector (in R)
df

    순위                            영화제목
0    1                         탑건: 매버릭
1    2     마녀(魔女) Part2. The Other One
2    3                          범죄도시 2
3    4                             브로커
4    5                        버즈 라이트이어
5    6                    쥬라기 월드: 도미니언
6    7           극장판 윌벤져스 : 수상한 캠핑 대소동
7    8  극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
8    9                          헤어질 결심
9   10                           룸 쉐어링
10  11                  니 부모 얼굴이 보고 싶다
11  12                          로스트 시티
12  13                              모어
13  14                             니얼굴
14  15                           애프터 양

In [28]:
# csv로 저장
df.to_csv("../Data/DaumList.csv",encoding='utf-8',index = False)

In [29]:
pd.read_csv("../Data/DaumList.csv")

    순위                            영화제목
0    1                         탑건: 매버릭
1    2     마녀(魔女) Part2. The Other One
2    3                          범죄도시 2
3    4                             브로커
4    5                        버즈 라이트이어
5    6                    쥬라기 월드: 도미니언
6    7           극장판 윌벤져스 : 수상한 캠핑 대소동
7    8  극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
8    9                          헤어질 결심
9   10                           룸 쉐어링
10  11                  니 부모 얼굴이 보고 싶다
11  12                          로스트 시티
12  13                              모어
13  14                             니얼굴
14  15                           애프터 양

In [30]:
url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver"
page= urlopen(url)
soup = BeautifulSoup(page,'html.parser')

In [34]:
lists = soup.select("#old_content > table > tbody > tr> td.title > div > a")

In [54]:
count = 0
countLists = []
titleLists = []

for i in lists:
    count += 1
    countLists.append(count)
    titleLists.append(i.string.strip())

In [58]:
df = pd.DataFrame(data=countLists,columns=['Index'])
df

    Index
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
20     21
21     22
22     23
23     24
24     25
25     26
26     27
27     28
28     29
29     30
30     31
31     32
32     33
33     34
34     35
35     36
36     37
37     38
38     39
39     40
40     41
41     42
42     43
43     44
44     45
45     46
46     47
47     48
48     49
49     50

In [59]:
df['Titles'] = pd.Series(titleLists)
df

    Index                          Titles
0       1                         탑건: 매버릭
1       2     마녀(魔女) Part2. The Other One
2       3                           범죄도시2
3       4                             브로커
4       5                        버즈 라이트이어
5       6                          헤어질 결심
6       7             닥터 스트레인지: 대혼돈의 멀티버스
7       8                    쥬라기 월드: 도미니언
8       9                     토르: 러브 앤 썬더
9      10                              실종
10     11                              탑건
11     12                          그대가 조국
12     13                             니얼굴
13     14                           룸 쉐어링
14     15                         외계+인 1부
15     16           극장판 윌벤져스 : 수상한 캠핑 대소동
16     17                          스파이더헤드
17     18                       한산: 용의 출현
18     19                           두개의 눈
19     20  극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미
20     21                              헌트
21     22                           디어 헌터
22     23                              모어
23     24                              마녀
24     25                           미친 능력
25     26                            비상선언
26     27                 더 킬러: 죽어도 되는 아이
27     28                           카시오페아
28     29                           미니언즈2
29     30                      극장판 주술회전 0
30     31                           경아의 딸
31     32                  니 부모 얼굴이 보고 싶다
32     33                           컴온 컴온
33     34                           리멤버 미
34     35                            아부쟁이
35     36                          개들의 도시
36     37                          센티그레이드
37     38                            더 렛지
38     39                         민스미트 작전
39     40                           감동주의보
40     41               신비한 동물들과 덤블도어의 비밀
41     42                     우스운게 딱! 좋아!
42     43                           고스트랜드
43     44                           어느 가족
44     45                           애프터 양
45     46                            이공삼칠
46     47                           뒤틀린 집
47     48                            클라우스
48     49                             엘비스
49     50                       윤시내가 사라졌다

In [63]:
df = df[0:5]

In [64]:
df.to_csv("../Data/naverRanking.csv",encoding='utf-8',index=False)

In [65]:
pd.read_csv("../Data/naverRanking.csv")

   Index                       Titles
0      1                      탑건: 매버릭
1      2  마녀(魔女) Part2. The Other One
2      3                        범죄도시2
3      4                          브로커
4      5                     버즈 라이트이어