# 나이브 베이즈(Naive Bayes) 
-확률 기반 머신러닝 분류 알고리즘의 대표적      
-나이브 베이즈 분류 알고리즘은 데이터를 나이브(단순)하게 독립적인 사건으로 가정
-이 독립 사건들을 베이즈이론에 대입시켜 가장 높은 확률 레이블로 분류를 실행하는 알고리즘.

### 베이즈 이론
$P(A|B) = P(B|A) * P(A) \div P(B)$

P(A|B) : 어떤 사건 B가 일어났을 때 사건 A가 일어날 확률 <br>
P(B|A) : 어떤 사건 A가 일어났을 때 사건 B가 일어날 확률 <br>
P(A) : 어떤 사건 A가 일어날 확률

![](../Data/bayesTheory.png)

- 모든 사건이 발생한 횟수 : 7 + 3 + 2 = 10    
- A사건이 발생한 횟수 : 7 + 3 = 10   
- B사건이 발생한 횟수 : 3 + 2 = 5    
- A사건과 B사건이 동시에 일어난 횟수 : 3    
- P(A) = 10   
- P(B) = 5   
- B사건이 일어났을 때 A사건이 일어날 확률은?   
- P(A|B) = 3 / (3 + 2) = 0.6   
- A사건이 일어났을 때 B사건이 일어날 확률은    
- P(B|A) = 3 / (7 + 3) = 0.3  
0.6 = 0.3 *10 /5

### 나이브 베이즈 알고리즘을 머신러닝에 응용하기
P(Label|Feature) = P(Feature|Label) * P(Label) / P(Feature)

![](../Data/bayesTheory1.png)

### 치킨집에서 저녁에 손님이 주문을 할때 맥주를 주문할 확률

P(주문|저녁) = P(저녁|주문) * P(주문) / P(저녁) = (3 / 4) * (4 / 10)  / (5 /10) = 3 / 5 = 0.6

---
# 가우시안 나이브 베이즈를 이용한 붓꽃 분류

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

import numpy as np
np.random.seed(5)

In [22]:
df = pd.read_csv("../Data/iris.csv")
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [23]:
csv_data =df[['SepalLength','SepalWidth','PetalLength','PetalWidth']]
csv_label = df['Name']

In [24]:
X_train,X_test,y_train,y_test = train_test_split(csv_data,csv_label,test_size=0.2)

In [25]:
X_train.shape

(120, 4)

In [26]:
X_test.shape

(30, 4)

In [27]:
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [28]:
model.score(X_test,y_test)

0.9

---
# 베르누이 나이브 베이즈를 활용한 스팸 분류

In [29]:
# 베르누이 나이브베이즈를 위한 라이브러리
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB

In [30]:
df = pd.read_csv("../Data/email_train.csv")
df

                                email title   spam
0                      free game only today   True
1                      cheapest flight deak   True
2  limited time offer only today only today   True
3                    today meeting schedule  False
4             your flight schedule attached  False
5                your credit card statement  False

### 데이터 다듬기
sklearn의 베르누이 나이브베이즈 분류기는 숫자만 다루기 때문에 True와 False를 1과 0으로 치환

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   email title  6 non-null      object
 1   spam         6 non-null      bool
dtypes: bool(1), object(1)
memory usage: 182.0+ bytes

In [32]:
df['label'] = df['spam'].map({True:1,False:0})
df

                                email title   spam  label
0                      free game only today   True      1
1                      cheapest flight deak   True      1
2  limited time offer only today only today   True      1
3                    today meeting schedule  False      0
4             your flight schedule attached  False      0
5                your credit card statement  False      0

In [33]:
# 학습에 사용할 데이터와 분류값을 나누기
df_x = df['email title']
df_y = df['label']

In [34]:
df_x

0                        free game only today
1                        cheapest flight deak
2    limited time offer only today only today
3                      today meeting schedule
4               your flight schedule attached
5                  your credit card statement
Name: email title, dtype: object

In [35]:
df_y

0    1
1    1
2    1
3    0
4    0
5    0
Name: label, dtype: int64

베르누이 나이브베이즈의 입력데이터는 고정된 크기의 벡터로써 0과 1로 구분된 데이터이어야 합니다.    
sklearn의 CountVectorizer를 사용하여 쉽게 구현할 수 있습니다. (!= one hot Encoding)    
CountVectoerizer는 입력된 데이터(6개의 이메일)에 출현된 모든 단어의 갯수 만큼의 크기를 벡터로 만든 후    
각각의 이메일을 그 고정된 벡터로 표현합니다.

In [36]:
cv = CountVectorizer(binary=True)
x_traincv = cv.fit_transform(df_x)

In [41]:
encoded_input = x_traincv.toarray() # 중복되어 숫자들이 들어가므로 one-hot encoding 아님!

In [43]:
# 벡터의 17개의 인덱스가 각각 무슨 단어?
print(cv.get_feature_names())

['attached', 'card', 'cheapest', 'credit', 'deak', 'flight', 'free', 'game', 'limited', 'meeting', 'offer', 'only', 'schedule', 'statement', 'time', 'today', 'your']

In [44]:
# 1번 메일의 단어 구성
cv.inverse_transform(encoded_input[0].reshape(1,-1))

[array(['free', 'game', 'only', 'today'], dtype='<U9')]

In [45]:
bnb = BernoulliNB()
y_train = df_y.astype('int')
bnb.fit(x_traincv,y_train)

BernoulliNB()

In [46]:
# 테스트 데이터 다듬기
test_df = pd.read_csv("../Data/email_test.csv")
test_df.head()

                     email title   spam
0              free flight offer   True
1  hey traveler free flight deal   True
2        limited free game iffer   True
3          today flight schedule  False
4      your credit card attached  False

In [47]:
test_df['label'] = test_df['spam'].map({True:1,False:0})
test_x = test_df['email title']
test_y = test_df['label']
x_testcv = cv.transform(test_x)

In [49]:
bnb.score(x_testcv,test_y)

0.8333333333333334

---
# 다항분포 나이브베이즈 영화리뷰 감정 분류

In [72]:
movie_train = pd.read_csv("../Data/naive_movie.csv")
movie_train

                                        movie_review      type
0      this is great great movie. I will watch again  positive
1                                  I like this movie  positive
2                         amazing movie in this year  positive
3      cool my boyfriend also said the movie is cool  positive
4                  awesome of the awesome movie ever  positive
5                      shame I wasted money and time  negative
6  regret on this move. I will never never what m...  negative
7                           I do not like this movie  negative
8                 I do not like actors in this movie  negative
9                       boring boring sleeping movie  negative

In [51]:
movie_test = pd.read_csv("../Data/naive_movie_test.csv")
movie_test.head()

                             movie_review      type
0            great great great movie ever  positive
1               I like this amazing movie  positive
2      my boyfriend said great movie ever  positive
3                          cool cool cool  positive
4  awesome boyfriend said cool movie ever  positive

In [65]:
movie_train['label'] = movie_train['type'].map({'positive':1,'negative':0})
movie_train_x = movie_train['movie_review']
movie_train_y = movie_train['label']
x_movie_trainCV = cv.fit_transform(movie_train_x)

In [66]:
encoded_x = x_movie_trainCV.toarray()

In [67]:
print(cv.get_feature_names())

['actors', 'again', 'also', 'amazing', 'and', 'awesome', 'boring', 'boyfriend', 'cool', 'director', 'do', 'ever', 'from', 'great', 'in', 'is', 'like', 'money', 'move', 'movie', 'my', 'never', 'not', 'of', 'on', 'regret', 'said', 'shame', 'sleeping', 'the', 'this', 'time', 'wasted', 'watch', 'what', 'will', 'year']

In [68]:
cv.inverse_transform(encoded_x[0].reshape(1,-1))

[array(['again', 'great', 'is', 'movie', 'this', 'watch', 'will'],
       dtype='<U9')]

In [69]:
bnb.fit(x_movie_trainCV,movie_train_y)

BernoulliNB()

In [70]:
movie_test['label'] = movie_test['type'].map({'positive':1,'negative':0})
movie_test_x = movie_test['movie_review']
movie_test_y = movie_test['label']
x_movie_testCV = cv.transform(movie_test_x)

In [71]:
bnb.score(x_movie_testCV,movie_test_y)

1.0