In [8]:
var01 = 3
var02 = 4

# ex1

print('덧셈 : ' ,var01 + var02)
print('뺄셈 : ' ,var01 - var02)
print('곱셈 : ' ,var01 * var02)
print('실수 나눗셈 : ' ,var01 / var02)
print('정수 나눗셈 몫 : ' ,var01 // var02)
print('정수 나눗셈 나머지 : ' ,var01 % var02)
print('제곱 : ' ,pow(var01,2)) ## print('제곱 : ',var01 ** 2)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
제곱 :  9

In [10]:
print('거듭제곱 =>',var01 ** 2)
print('거듭제곱 =>',pow(var01,2))

거듭제곱 => 9
거듭제곱 => 9

### 파이썬 모듈을 이용한 수학계산

In [11]:
import math

In [12]:
# 거듭제곱

math.pow(var01,2)

9.0

In [14]:
# 제곱근

math.sqrt(var01)

1.7320508075688772

In [15]:
# sin 45도

math.sin(45)

0.8509035245341184

In [16]:
# sin45^2 + cos45^2

math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

### 난수 발생

In [17]:
# 난수발생 모듈 불러오기

import random

In [18]:
random.randint(1,100) # 1~100 중 난수 1개 발생

53

In [22]:
lotto_list = list(range(1,46)) # 1부터 45(n-1)까지 숫자를 리스트에 저장 
random.sample(lotto_list,6) # lotto_list에서 렌덤으로 6개의 숫자를 가져오기

[31, 20, 33, 40, 34, 3]

In [24]:
# 반올림

print(round(123.45,1)) # 소수점 첫째자리만 나타내기 
print(round(123.456,2)) # 소수점 둘째자리만 나타내기

123.5
123.46

In [25]:
# 올림

print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [26]:
# 내림

print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [27]:
# 메모리에 있는 변수 보기

dir()

['In',
 'Out',
 '_',
 '_12',
 '_14',
 '_15',
 '_16',
 '_18',
 '_19',
 '_20',
 '_22',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [28]:
var01

3

In [29]:
# 메모리에 있는 변수 제거

del var01

In [30]:
var01   # 삭제된 데이터이므로 error발생

NameError: name 'var01' is not defined

### 관계 연산자

In [31]:
num1 =100
num2 =20

In [32]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리연산자

In [34]:
print((num1 >=50) & (num2 <= 10))
print((num1 >=50) | (num2 <= 10))
print((num1 >=50) and (num2 <= 10))
print((num1 >=50) or (num2 <= 10))

False
True
False
True

In [38]:
# 부정연산자

not(num1 >= 50 )

False

In [39]:
# OS 명령어 사용
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb
=

In [40]:
# 문자열 

var01 = "Hello world!" # 따옴표 구분 없음
var01

'Hello world!'

In [43]:
var01 = """
    Hello World1
    12345
    대한민국
"""
var01
#print(var01) # 문자열을 여러 줄로 출력하기

'\n    Hello World1\n    12345\n    대한민국\n'

In [45]:
# 쌍따옴표와 홑따옴표의 사용

var01 = "My father's wife is my mother." # 홑따옴표를 사용하려면 ""를 사용해야함
var02 = 'He says "I love you."' # 쌍따옴표를 사용하려면 ''를 사용해야함
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you."

In [47]:
# 문자열 연산(덧셈)
var01 = "Python"
var02 = "is fun."

print(var01+var02)
print(var01,var02) # ,를 이용하면 기본적으로 한칸씩 띄어짐

Pythonis fun.
Python is fun.

In [48]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [50]:
print("=" * 20)
print('Python')
print("=" * 20)

====================
Python
====================

In [60]:
# 문자열 indexing과 Slicing
# indexing : Matrix의 index , # slicing: R에서 start~end 범위 의미

str = "abcdefghijklmn"
print(str[0]) # index = 0 해당하는 글자를 출력
print(str[0:3]) # index = 0 부터 3개의 글자를 출력
print(str[-1])
print(str[5:]) # index = 5 부터 끝까지 해당하는 글자를 출력
print(str[:5]) # 처음부터 5개의 글자를 출력 (즉, index = 4 해당하는 글자까지)
print(str[0]+str[1]+str[2])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [61]:
str = "20221229Snow"
year = str[0:4]
day = str[4:8]
weather = str[-4:]

print(year , day, weather)

2022 1229 Snow

In [66]:
str = "abbde"

# abbde -> abcde로 바꾸기

str = str[0:2]+'c'+str[-2:] # String이므로 str[index] = 'c' 불가
print(str)

abcde

### 문자열 formatting

In [69]:
print("I have %d apples."%2)
print("I have %s apples."%"two")

I have 2 apples.
I have two apples.

In [73]:
number = 2
fruit = "apples"
print("I have %02d %s."%(number,fruit))

I have 02 apples.

In [75]:
# 문자열 정렬

print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [77]:
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

3.1416
    3.1416

### 문자열 관련 함수

In [79]:
# 문자 Count

str = "I have a dream."
print(str.count('a')) # a가 몇 개 존재하는지 확인
print(len(str)) # str 길이 확인(공백포함)

3
15

In [81]:
# 문자 위치 알려주기

print(str.find('e')) 
print(str.find('x')) # 해당 글자가 없는 번지수를 알려달라고 할 경우 => -1 출력

5
-1

In [84]:
str[str.find('e')] # str[index] index= str.find('e') = 5

'e'

In [1]:
str = "I have a dream"

In [2]:
str.find('a')

3

In [153]:
## 문자열 인덱스 중복 체크

for i in range(len(str)):
    if(str[i] == 'a'):
        print(i)

3
7
12

In [88]:
# 문자열 삽입

str = ","
str.join('abcde')

'a,b,c,d,e'

In [89]:
# 소문자를 대문자로

str = 'hi'
str.upper()

'HI'

In [90]:
# 대문자를 소문자로

str = "HI"
str.lower()

'hi'

In [93]:
# 공백 지우기

str = '      hi'
str.lstrip()

'hi'

In [94]:
str = 'hi     '
str.rstrip()

'hi'

In [95]:
str = '   hi    '
str.strip()

'hi'

In [97]:
# 문자열 바꾸기

str = 'Life is too short to be happy.'
str.replace('happy','unhappy')

'Life is too short to be unhappy.'

In [101]:
# 문자열 나누기 

str01 = 'Life is too short to be happy.'
list01 = str01.split() # 공백을 기준으로 나눔 /문자열을 List로 변경
type(list01)
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [103]:
str02 = 'a:b:c:d'
str02.split(':') # : 을 기준으로 나눔

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [120]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [121]:
"I have {0} apples.".format("two")

'I have two apples.'

In [122]:
number = 10
day = 'three'

"I have {0} apples, I will go abord for {1} days.".format(number,day)

'I have 10 apples, I will go abord for three days.'

In [123]:
# 왼쪽 정렬

'{0:<10}'.format("hi")

'hi        '

In [3]:
# 오른쪽 정렬

'{0:>10}'.format("hi")

'        hi'

In [125]:
# 가운데 정렬

'{0:^10}'.format("hi")

'    hi    '

In [126]:
# 공백 채우기

'{0:=^10}'.format("hi")

'====hi===='

In [128]:
# f문자열 formatting(Python 3.6이상만 가능)

name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [129]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

### 날짜형 변환

In [130]:
# 날짜형 모듈 불러오기

from datetime import datetime, timedelta

In [132]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [134]:
# 날짜 계산하기

time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:13:31.547013
186 days, 4:46:28.452987

In [137]:
# 좀 더 편리하게 출력

print((time1 - time2).days,'일')
print((time1 - time2).seconds,'초') # 시간끼리의 초 계산된 것

186 일
17188 초

In [141]:
# 시간으로 확인하기

(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4468

In [145]:
# 특정 날짜로부터 시간 계산
print(time2 + timedelta(days=-3))  # 3일 전 datetime보여주기

2022-06-19 16:13:31.547013

In [147]:
print(time2 + timedelta(days=1, hours=-2)) # 1일 뒤 2시간 전 datetime보여주기

2022-06-23 14:13:31.547013